<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="public/img/05.IMG-20200416-WA0057.jpg">
    <title>La krayle - Fotos</title>
</head>
<body>
    <!--  HEADER  -->
    <header>
        <div>
            <h1>La krayle</h1>
            <p>El Rock vive en las calles</p>
        </div>
    </header>
    <!-- navbar la cambio a formnav xq bosstrap esta usando navbar -->
    <nav class="formnav">
        <a class="nav-link" href="../../index.html">Inicio</a>
        <a class="nav-link" href="../../public/views/fechas.html">Fechas</a>
        <a class="nav-link" href="../../public/views/videos.html">Videos</a>
        <a class="nav-link" href="../../public/views/discografia.html">Discografia</a>
        <a class="nav-link" href="../../public/views/contacto.html">Contacto</a>
    </nav>
    
    <section>
        <img src="../img/20.Acaba.jpg" alt="cris">
        <img src="../img/21.Acaba.jpg" alt="bate">
        <img src="../img/22.Acaba.jpg" alt="gus">
        <img src="../img/23.Acaba.jpg" alt="guitar">
        <img src="../img/24.Acaba.jpg" alt="gus2">
        <img src="../img/25.Acaba.jpg" alt="21an">
        <img src="../img/26.Acaba.jpg" alt="cris2">
        <img src="../img/27.Acaba.jpg" alt="tres">
        <img src="../img/28.Acaba.jpg" alt="tresf">
        <img src="../img/29.Acaba.jpg" alt="fin">
    </section>
<!-- footer -->
<footer>
    <p>&copy; StavoAdrian, Proyecto Final - 2023 </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    
</body>
</html>